@page
@model RealSecurityAssignment.Pages.ChangePasswordModel
@{
}
<form method="post">
				
				<div class="mb-3">
					<label class="form-label" asp-for="@Model.OldPassword">Current Password</label>
					<input type="Text" asp-for="@Model.OldPassword" class="form-control" />
					<span asp-validaton-for="@Model.OldPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="@Model.Password">New Password</label>
					<input type="Text" asp-for="@Model.Password" class="form-control" />
					<span asp-validaton-for="@Model.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="@Model.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="@Model.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="@Model.ConfirmPassword" class="text-danger"></span>
				</div>


				<div class="mb-3">
					<button type="submit" class="btn btn-primary" >Update</button>
				</div>
</form>
